{% load static wagtailcore_tags %}

<div class="dashboard__item" data-js-entity>
    <div class="dashboard__wrap">
        <a href="{% pageurl dashboard %}" data-js-entity-url class="dashboard__content">
            <p class="meta__date"><svg class="icon-calendar-svg"><use xlink:href="{% static 'svg/icons/renders/sprite.svg#calendar' %}"></use></svg>Last updated: {{dashboard.published_at|date:'d M Y'}}</p>
            <h2 class="dashboard__heading" data-js-entity-title>{{dashboard.title}}</h2>
        </a>
        {% if icon %}
        <img class="icon-right" src="{% static 'svg/icons/'|add:icon|add:'.svg' %}" />
        {% endif %}
    </div>
    <ul class="accordion">

      {% if self.show_dashboards and dashboard.get_children %}
        <li class="accordion__list-item">
          <button type="button" class="accordion__heading">
            {{self.child_dashboards_title}}
            <i role="presentation" aria-hidden="true" class="ico ico--20 ico-plus-blank"></i>
          </button>
          <div class="accordion__content">
            {% for item in dashboard.get_children.specific %}
              {% include 'dashboard/partials/dashboard-item.html' %}
            {% endfor %}
          </div>
        </li>
      {% endif %}

      {% if self.show_datasets and dashboard.related_datasets %}
        <li class="accordion__list-item">
          <button type="button" class="accordion__heading">
            {{self.related_datasets_title}}
            <i role="presentation" aria-hidden="true" class="ico ico--20 ico-plus-blank"></i>
          </button>
          <div class="accordion__content">
            {% for dataset in dashboard.related_datasets %}
              {% include 'dashboard/partials/dataset-item.html' %}
            {% endfor %}
          </div>
        </li>
      {% endif %}
    </ul>
</div>
