{% load static %}

<a href="{{goal.url}}" class="dataset__item">
  <div class="dataset__content">
      <h3 class="dataset__heading heading type-s">Kayunga Education Dashboard</h3>
      <ul class="dataset__list">
          <li class="meta__date">
              <i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-slate" style="top:-1.5px;"></i>
              <span>Last updated:</span> 12 Nov 2022
          </li>
          <li class="is-typeset">
              <p>
                Converging global development challenges mean ODA is increasingly stretched. In this report, we unpack some of the key aid figures and drill down into the details to establish whether ODA really is reaching those living in greatest poverty.
              </p>
          </li>
      </ul>
  </div>
</a>
