{% load static navigation_tags footer_tags wagtailimages_tags %}
{% get_site_root as site_root %}

<footer role="contentinfo" class="footer footer--wide">
	<div class="row">
		<div class="l-footer">
			<div class="l-footer__col">
				<h4 class="footer__title">Built in partnership with</h4>
				<ul class="footer__list l-2up">
					<li><a href="https://devinit.org" target="_blank"><img class="branding" src="{% static 'img/logo-di.webp' %}" /></a></li>
					<li><a href="https://aphrc.org" target="_blank"><img class="branding" src="{% static 'img/logo-aphrc.png' %}" /></a></li>
				</ul>
			</div>
			{% get_footer_sections parent=site_root calling_page=self %}
		</div>
		{% get_footer_text %}
	</div>
</footer>
