{% extends "wagtailadmin/base.html" %}
{% load static %}

{% block titletag %}Pipeline Entities{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table.month {
            margin: 20px;
        }
        table.month td, table.month th {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Data Pipeline Entities" icon="decimal" %}

    <div class="nice-padding">
        <div id="pipeline-entities-root"></div>
    </div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'pipeline/js/bundle.js' %}"></script>
{% endblock extra_js %}
