{% extends "wagtailadmin/base.html" %}
{% block titletag %}Pipeline Workflows{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table.month {
            margin: 20px;
        }
        table.month td, table.month th {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Data Pipeline Workflows" icon="decimal" %}

    <div class="nice-padding">
        Content Goes Here
    </div>
{% endblock %}
